<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title> <!-- Título dinámico -->
    <link rel="stylesheet" href="/style.css"> <!-- Ruta al CSS -->
</head>
<body>

    <main style="flex: 1;"> <!-- Añadir flex: 1 para ocupar el espacio disponible -->
        {{{body}}} <!-- Aquí se renderizará el contenido específico de cada vista -->
    </main>

    <footer class="text-center mt-4 d-flex justify-content-center align-items-center" style="background-color: #473b30; opacity:0.7; padding: 10px 0; color: rgb(13, 12, 12);">
        <p class="mb-0 footerp">&copy; Desarrollado por Bianca Salcedo</p>
        <a class="d-block text-white ml-3" href="https://www.linkedin.com/in/biancasalcedodev/" target="_blank">
            <i class="fa-brands fa-linkedin-in ml-2"></i>
        </a>
    </footer>

</body>
</html>
