<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title> <!-- Título dinámico -->
    <link rel="stylesheet" href="/style.css">
     <!-- Ruta al CSS -->
</head>
<body>
    <header>
        <nav>
            <a href="/"></a>
            <!-- Otros enlaces de navegación -->
        </nav>
    </header>

    <main style="flex: 1;"> <!-- Añadir flex: 1 para ocupar el espacio disponible -->
        {{{body}}} <!-- Aquí se renderizará el contenido específico de cada vista -->
    </main>
    <footer class="text-center mt-4 d-flex justify-content-center align-items-center" style="background-color: #f9f9f9; padding: 10px 0; color: rgb(13, 12, 12);">
    <p class="mb-0">&copy; Desarrollado por Bianca Salcedo</p>
    <a class="d-block text-dark ml-3" href="https://www.linkedin.com/in/biancasalcedodev/" target="_blank">
        <i class="fa-brands fa-linkedin-in ml-2"></i> <!-- Agregamos 'ml-2' para margen a la izquierda -->
    </a>
</footer>

</body>
</html>
