/* style.css */
/* html, body {
    height: 100%;
} */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: rgb(0, 0, 0); /* Color de texto por defecto */
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    background-color: burlywood;
    background-image: url("/image/fondo.webp");
    opacity: 0.8;
}

.gallery-wrapper {
    border: 30px solid transparent;
    border-image: url('/image/flores.webp') 230 round;
    background-color: rgba(229, 160, 70, 0.6);
    border-radius: 30px;
}

.hero-section {
    background-image: url("/image/boda2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 70vh;
    opacity: 0.9;
}

header, .upload-section, .gallery-section, footer {
    position: relative;
    color: rgb(109, 51, 15);
    font-size: 20px;
}

h1{
    color: rgb(255, 255, 255);
    font-family: 'Dancing Script';
    font-weight: 600;
    text-align: left;
    text-shadow: 4px 4px 18px rgba(0, 0, 0, 0.7);
    color: #ffffff;
    
}

.brunoytomas{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.names{
    color: #ffffff; 
    font-size: 80px;
    margin-top: 150px;
    
   
}
p{
    font-size: 50px;
}

h2 {
    color: rgb(109, 51, 15);
    font-family: 'Dancing Script';
    font-size: 60px;
    text-align: center;
    text-shadow: 4px 4px 18px rgba(0, 0, 0, 0.9);
}

form {
    border: 2px solid white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
}

label {
    font-size: 30px;
    color: #ffffff;
}

.upload-section, .gallery-section {
    flex: 1;
}

@media (max-width: 575px) {
    .upload-section button {
        margin-top: 10px;
    }
}

@media (max-width: 520px) {
    .hero-section {
        height: 60vh !important;
    }
    #text {
        font-size: 40px !important;
    }
}

#photo {
    padding: 2px 2px;
}

.photo img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    border: 5px solid transparent;
    box-shadow: 0 0 35px rgba(239, 78, 3, 0.5);
    transition: box-shadow 0.3s;
}

.photo img:hover {
    box-shadow: 0 0 15px rgba(44, 20, 118, 0.8);
}

.card {
    border: none;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .col-md-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}

footer {
    margin: 0;
    padding: 10px 0;
    flex-shrink: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
}

.footerp{
    font-size: 20px;
    color: white;
}


.fecha{
    font-size: 30px;
    color: rgb(109, 51, 15);
}

.photo-counter {
    text-align: left;
    padding-left: 10px;
    margin-top: 20px;
  }
  
  h3{
    color:rgb(171, 85, 34)
  }