/* style.css */
html, body {
    height: 100%;
}

.photo-counter h3 {
    color: #050505;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: rgb(0, 0, 0); /* Color de texto por defecto */
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    background-color: burlywood;
    background-image: url("/image/fondo.webp");
    opacity: 0.8;
}

.gallery-wrapper {
    border: 30px solid transparent;
    border-image: url('/image/flores.webp') 230 round;
    background-color: rgba(229, 160, 70, 0.6);
    border-radius: 30px;
}

.hero-section {
    background-image: url("/image/boda2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 70vh;
    opacity: 0.9;
}

header, .upload-section, .gallery-section, footer {
    position: relative;
    color: rgb(109, 51, 15);
    font-size: 20px;
}
h1 {
    font-family: 'Dancing Script';
    font-weight: 600;
    text-shadow: 4px 4px 18px rgba(0, 0, 0, 0.7);
    font-size: 100px; /* Ajusta este valor según el tamaño deseado */
    color: #ffffff; /* Color de texto */
    margin-top: 150px; 
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    overflow: hidden; /* Oculta el desbordamiento del texto */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) si el texto se desborda */
}


.brunoytomas {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


.fecha {
    font-size: 30px; /* Aumenta este tamaño si es necesario */
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-top: 20px;
    background-color: rgba(217, 185, 155, 0.7); /* Color marrón suave con 70% de opacidad */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados (opcional) */
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    overflow: hidden; 
}

.icons {
    display: flex;
    align-items: center; /* Alinea verticalmente los íconos y el texto */
    justify-content: center; /* Centra horizontalmente el contenido */
}

.icono {
    margin: 0 2px; 
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    overflow: hidden; /* Ajusta este valor según tus necesidades */
}


.form-inline {
    font-size: 38px; /* Ajusta el tamaño de la fuente según sea necesario */
    color: black;
}

.form-inline label {
    font-size: 40px; /* Tamaño del texto del label */
}

.form-inline input {
    font-size: 30px; /* Tamaño del texto del input */
    padding: 10px; /* Espaciado interno para que se vea más grande */
}

.form-inline button {
    font-size: 25px; /* Tamaño del texto del botón */
    padding: 10px 20px; /* Espaciado interno para que el botón sea más grande */
}

p {
    font-size: 50px;
}

h2 {
    color: rgb(109, 51, 15);
    font-family: 'Dancing Script';
    font-size: 60px;
    text-align: center;
    text-shadow: 4px 4px 18px rgba(0, 0, 0, 0.9);
}

form {
    border: 1px solid white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
}

label {
    font-size: 30px;
    color: #ffffff;
}

.upload-section, .gallery-section {
    flex: 1;
}

@media (max-width: 575px) {
    .upload-section button {
        margin-top: 10px;
    }
}

@media (max-width: 520px) {
    .hero-section {
        height: 60vh !important;
    }
    #text {
        font-size: 40px !important;
    }
}

@media (max-width: 480px) {
    .upload-section .subtitulo {
        font-size: 38px; /* Tamaño de fuente más pequeño para pantallas de 480px o menos */
    }
}

@media (max-width: 551px) {
    p .subtitulo {
        margin-top: 10px;
        font-size: 10px; /* Asegúrate de que este valor sea adecuado */
    }
}

@media (max-width: 452px) {
    .icons .fecha {
        font-size: 20px; /* Tamaño de fuente más pequeño */
    }
}

#photo {
    padding: 2px 2px;
}

.photo img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    border: 5px solid transparent;
    box-shadow: 0 0 35px rgba(239, 78, 3, 0.5);
    transition: box-shadow 0.3s;
}

.photo img:hover {
    box-shadow: 0 0 15px rgba(44, 20, 118, 0.8);
}

.card {
    border: none;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .col-md-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}

@media (max-width: 505px) {
    .names {
        font-size: 60px; /* Ajusta este valor según tus necesidades */
    }
}

@media (max-width: 393px) {
    .names {
        font-size: 49px; /* Ajusta este valor según tus necesidades */
    }
}

@media (max-width: 550px) {
    .upload-section .subtitulo {
        font-size: 40px; /* Tamaño de fuente más pequeño */
    }
}

@media (max-width: 440px) {
    .upload-section .subtitulo {
        font-size: 30px; /* Tamaño de fuente más pequeño */
    }
    
    .form-inline {
        font-size: 48px; /* Ajusta el tamaño de la fuente según sea necesario */
    }
    
    .form-inline label {
        font-size: 38px; /* Tamaño del texto del label */ 
    }
    
    .form-inline input {
        font-size: 25px; /* Tamaño del texto del input */
    }
    
    .form-inline button {
        font-size: 23px; /* Tamaño del texto del botón */
    }
}

footer {
    margin: 0;
    padding: 10px 0;
    flex-shrink: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
}

.footerp {
    font-size: 20px;
    color: white;
}

.photo-counter {
    text-align: left;
    padding-left: 10px;
    margin-top: 20px;
}

h3 {
    color: rgb(171, 85, 34);
}

.container {
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 50vh; /* Altura completa de la ventana */
    margin: 50px auto; /* Asegurarse de que no haya márgenes en el contenedor */
}

.login-admi {
    display: flex; /* Habilitar flexbox */
    justify-content: center; /* Centrar horizontalmente el contenido */
    align-items: center; /* Centrar verticalmente el contenido */
    width: 100%; /* Ancho completo del contenedor */
}

form .login-form {
    width: auto;
    justify-content: center; /* Establecer un ancho fijo para el formulario */
    margin: 15px; /* Sin márgenes para un ajuste más limpio */
    padding: 5px; /* Un poco de padding para los bordes del formulario */
    border: 1px solid #ccc; /* Agregar un borde para un mejor aspecto */
    border-radius: 5px; /* Bordes redondeados */
}

.login-form input {
    margin: 5px 0; /* Margen vertical entre los inputs */
    padding: 5px; /* Un poco de padding dentro de los inputs */
    font-size: 20px; /* Tamaño de fuente más pequeño */
    width: 50%; /* Ancho completo del formulario */
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
}

.login-form button {
    padding: 5px; /* Padding del botón */
    font-size: 25px; /* Tamaño de fuente del botón */
}

.custom-delete-btn {
    background-color: #ff4d4d; /* Cambia esto al color de fondo deseado */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde para un aspecto más limpio */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el cambio de color */
}

.custom-delete-btn:hover {
    background-color: #ff1a1a; /* Cambia el color de fondo al pasar el mouse */
}

#formdelet{
    background-color: rgba(229, 160, 70, 0.8);

}

.modal-header {
    background-color: rgba(226, 218, 208, 0.9); /* Color beige claro */
    text-align: center; /* Centra el texto */
    justify-content: center; /* Centra el contenido horizontalmente */
    border-bottom: none; /* Si quieres quitar el borde inferior del modal */
}

.modal-title {
    color: black; /* Cambia el color de la letra a negro */
    font-size: 24px; /* Ajusta el tamaño del texto si es necesario */
    font-weight: bold; /* Puedes agregar este para que el texto sea más grueso */
}

.modal-header .btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: black; /* Cambia el color del botón de cierre */
}

.modal-body {
    padding: 0;
    margin: 0;
}

@media (max-width: 505px) {
    .modal-title{
        font-size: 15px; /* Tamaño de fuente más pequeño */
    }
}

.btn-close {
    width: 20px; /* Ajusta el ancho del botón */
    height: 20px; /* Ajusta la altura del botón */
    font-size: 0.8rem; /* Ajusta el tamaño de la fuente si es necesario */
    padding: 0; /* Quita el padding para que sea más pequeño */
}

.login-admi {
    margin-top: 20px; /* Ajusta este valor según sea necesario */
}

.btn {
    margin-top: 10px; /* Espacio entre el botón y los inputs, si es necesario */
}
input.form-control {
    margin-bottom: 10px; /* Espacio entre los inputs y el botón */
}

.form-inline input[type="file"] {
    max-width: 70%; /* Ajusta el ancho máximo según lo que necesites */
    width: 70%; /* Asegúrate de que el ancho sea automático */
    display: inline-block; /* Muestra el input como un bloque en línea */
}

.form-inline {
    justify-content: center; /* Centra los elementos dentro del formulario */
}

.form-inline .form-group {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto dentro del label */
}
